@media screen and (max-width: 1919px) {
    .wrapper {
        width: 1280px;
    }

    .home-page {
        .main-section {
            .title {
                font-size: 80px;
                margin-bottom: 45px;
            }
            .scroll-down {
                bottom: 30px;
            }
        }

        .about-section {
            .title {
                font-size: 80px;
            }
        }

        .contacts-section {
            .descr{
                margin-bottom: 65px;
            }
	        .small-wrapper{
		        margin-left: 50px;
		        width: 580px;
	        }
	        .bottom{
		        left: 50px;
	        }
        }
    }
}