@media screen and (max-width: 1365px) {
	.wrapper {
		width: 94%;
	}

	.home-page {
		.main-section {
			background-size: cover;
			.title {
				margin-bottom: 55px;
			}
			.scroll-down {
				bottom: 20px;
			}
		}

		.projects-slider-section {
			.subtitle {
				margin-bottom: 40px;
			}
			.projects-slider{
				height: 100%;
			}
			.slick-list{
				height: 100%;
			}
			.slick-track{
				height: 100%;
			}
			.slick-slide{
				& > div{
					height: 100%;
				}
			}
			.item{
				height: 100%;
			}
		}

		.projects-section {
			.see-more {
				height: 50px;
			}
		}

		.about-text-section {
			&:before {
				background-size: contain;
				transform: translate(120px, -150px);
			}
			.descr {
				margin: 0 auto;
				width: 600px;
			}
		}

		.contacts-section {
			.small-wrapper {
				width: 80%;
			}
		}
	}

	.works-page {
		.projects-section {
			.list {
				.item {
					height: calc(50vh - 28px);
				}
			}
			.footer {
				height: 56px;
			}
		}
		.scroll-down{
			bottom: 80px;
		}
	}

	.single-work-page {
		.main-section{
			height: 56vw;
			.scroll-down{
				display: none;
			}
		}
		.main-description {
			.description{
				column-count: 1;
			}
			p{
				margin-bottom: 2em;
			}
		}
		.second-images-section {
			.top{
				display: block;
			}
			.img {
				height: 56vw;
				width: 100%;
			}
			.bottom{
				height: 56vw;
				width: 100%;
			}
		}
		.description-images-section{
			flex-direction: column-reverse;
			.description{
				padding: 40px 80px;
				text-align: center;
			}
			.right {
				.img{
					height: 56vw;
				}
			}
		}
	}

	.popup-inner{
		width: 600px;
	}
}

@media screen and (max-width: 1023px) {
	.home-page {
		.contacts-section {
			.fp-tableCell {
				display: block;
			}
			.left, .right {
				height: auto;
			}
			.right {
				min-height: 50%;
			}
			.small-wrapper {
				width: auto;
				margin: 40px 80px 50px;
			}
			.descr {
				margin-bottom: 40px;
			}
			.bottom {
				height: 50px;
				left: 25px;
				right: 25px;
			}
		}
	}

	.single-work-page {
		.first-images-section {
			height: auto;
			display: block;
			.left{
				height: 100vh;
			}
		}
		.center-description {
			.description {
				width: auto;
				margin: 0 80px;
			}
		}
	}
}